<!DOCTYPE html>

<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About | Contest-Finder</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- facicon --}}
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="navbar">
            <h3 class="brand-title">CF Contest Finder</h3>
            <div class="navbar-buttons">
                <a href="/">Home</a>
                <a href="/howto">How To</a>
                <a class="active" href="/about">About</a>
            </div>
        </div>
    </header>

    <div class="about-container">
      <h2>VIVEK KUMAR OJHA</h1>
      <h4>Student at JSSATEB</h2>
      <div class="my-image">
        <img src="img/Mypic.png" alt="My image">
      </div>
      <p>A technophile and a second year student, currently pursuing my bachelors of engineering in electronics and communication from Jss academy of technical education Bangalore.

      <br>Uniting the ideals of math with the efficiency of computers to solve problems in our complex world.

      <br>Interested in fiction novels and a keen guitarist also has a good taste in music.😉 </p>

      <div class="info">
        <a href="https://github.com/Vivek-775" target="_blank"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://www.linkedin.com/in/vivek-ojha-a40197186/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
        <a href="https://www.instagram.com/vivek._.kmr/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
        <a href="https://twitter.com/VivekOj15364741" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="mailto:vivekojha775@gmail.com"><i class="fa fa-2x fa-envelope"></i></a>
         
        
      </div>
    </div>

    <footer>
      <p>
        "नमस्ते"
        <img src="https://twemoji.maxcdn.com/v/13.0.1/72x72/1f1ee-1f1f3.png" height="12px" width="12px" alt="INDIA">
        
      </p>
        © Copyright 2020, All Rights Reserved
    </footer>
</body>

</html>