<!DOCTYPE html>

<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>How To | Contest-Finder</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- facicon --}}
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="navbar">
            <h3 class="brand-title">CF Contest Finder</h3>
            <div class="navbar-buttons">
                <a href="/">Home</a>
                <a class="active" href="/howto">How To</a>
                <a href="/about">About</a>
            </div>
        </div>
    </header>

    <div class="howto-container">
      <div class="description-box">
          <h2>Overview</h2>
          <p> Have you ever wanted to participate in a virtual contest and compete along with friends? Have you faced the hassle of finding a common non-attempted contest to participate in? <br> Don't worry , we introduce to you  " CF CONTEST FINDER " , a simple yet efficient virtual contest finder for you to compete with your friend. </p>
      </div>

      <div class="description-box">
        <h2 class="howto-heading">How to Use</h2>
      
        <div class="step-box step-box-left">
            <img src="img/Step1.png" alt="Step 1">
            <h2>Step 1</h2>
            <p>Enter the handle's of participants in the virtual contest. <br><br><br></p>
        </div>
        
        <div class="step-box step-box-right">
            <img src="img/Step2.png" alt="Step 2">
            <h2>Step 2</h2>
            <p>Click on "FIND CONTEST" button . 5 latest potential contests are displayed, which can redirect directly to the contest page on click.</p>
        </div> 
      </div>
    </div>

    <div>
      <a href="/" class="redirect-button"> Try it out <i class="fa fa-arrow-right"></i> </a>
    </div>

    <footer>
        © Copyright 2020, All Rights Reserved
    </footer>
</body>

</html>